{% extends "admin/base.html.twig" %}

{% block title %}Modification d'un joueur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification d'un joueur</h1>
 
    </div>
{% endblock %}